<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

@model Clothes_Shop.Models.Item

@{
    ViewData["Title"] = "Details";
    var Lst = ViewBag.Comments as IEnumerable<Clothes_Shop.Models.Comments>;
    var Usr = ViewBag.Allusers as IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>;

    
}









<div class="container">



    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <!--  <img style="width: 459px" th:src="{'/images/'+${}}" /> -->
                        <img class="product__image" src="~/images/@Model.Image" style="width: 359px; height: 500px; margin-top:50px;margin-left:40px " />
                    </div>

                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3"> @Html.DisplayFor(model => model.Name)</h3>

                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">US $</span><span class="num">  @Html.DisplayFor(model => model.Price)</span>
                        </span>
                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p> @ViewBag.Desc </p></dd>
                    </dl>               
                    <dl class="item-property">
                        <dt>Size</dt>
                        <dd><p> @ViewBag.Size </p></dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Color</dt>
                        <dd><p> @ViewBag.Color </p></dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Material</dt>
                        <dd><p> @ViewBag.Material </p></dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Gender</dt>
                        <dd><p> @ViewBag.Gender </p></dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Manufacturer</dt>
                        <dd><p> @ViewBag.Country </p></dd>
                    </dl>


                    <dl class="param param-feature">
                        <dt>Delivery</dt>
                        <dd>Russia, USA, and Europe</dd>
                    </dl>

                    <div style="margin-top: 60px">
                        <a asp-action="Index" class="btn btn-lg btn-outline-primary text-uppercase">Back to List</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-lg btn-outline-primary text-uppercase">Edit</a>

                        }
                        <a asp-controller="Carts" asp-action="Create" asp-route-GoodId="@Model.Id" class="btn btn-lg btn-outline-primary text-uppercase">Add to cart</a>
                    </div>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</div>



<h4 style="margin-top:50px;margin-left:500px">Comments</h4>
<hr />



<div class="row" style="margin-left:30px;margin-top:5px">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Comments" method="post">
            <div class="text-danger"></div>

            <h5>Post a comment</h5>

            <div class="form-group">
                <label name="Content" class="control-label"></label>
                <input name="Content" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


    <ul class="comment-section" style="margin-bottom:200px">

        @foreach (var j in Lst)
        {
            @foreach (var i in Usr)
            {
                if (j.Author == i.Id)
                {

            <div style="border:solid;border-color:lightgray;border-width:1px" class="container">


                <div class="row" style="margin-left:5px;margin-top:5px">

                    <img src="~/images/human.png" style="width:60px;margin-top:10px;height:60px" />
                    <div class="col-sm">
                        <p style="font-size:20px;font-weight:bold">@i.Email</p>

                        <p style="font-size:17px;">@j.Content</p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-controller="Comments" asp-action="Delete" asp-route-id="@j.Id">Delete</a>

                        }
                    </div>
                </div>

            </div>
                 <br>
                    <!-- <li>i.Emailj.Content</li>-->
                }
            }
        }

</ul>
    <!--<td>Lst.FirstOrDefault().Content </td> -->
